.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", appconfigs_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_appconfig_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Appconfigs
    .inner 
      = link_to "Learn more about the App Configurations", :controller => "appconfigs" , :action => "about"
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.appconfig.description", :default => t("activerecord.labels.description", :default => "Description"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @appconfigs.each do |appconfig|
          %tr{:class => cycle("odd", "even")}
            %td
              = appconfig.id
            %td
              = link_to appconfig.description, appconfig_path(appconfig)
            %td
              = appconfig.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", appconfig_path(appconfig)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_appconfig_path(appconfig)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", appconfig_path(appconfig), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = paginate @appconfigs
- content_for :sidebar, render(:partial => 'sidebar')
