<!DOCTYPE html>
<html>
<head>
  <title>My Activities</title>
  <%= stylesheet_link_tag 'web_app_theme' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">My Activities</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="#"><%= t("web-app-theme.profile", :default => "Profile") %></a></li>
          <li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
          <li><%= link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
			<li class="<%= controller.controller_name == 'home' ? "active" : "nil" -%>" ><%= link_to 'Home', root_path %></li>
			<li class="<%= controller.controller_name == 'projects' ? "active" : "nil" -%>" ><%= link_to 'Projects', projects_path %></li>
			<li class="<%= controller.controller_name == 'activities' ? "active" : "nil" -%>" ><%= link_to 'Activities', activities_path %></li>
			<li class="<%= controller.controller_name == 'statuses' ? "active" : "nil" -%>" ><%= link_to 'Statuses', statuses_path %></li>
			<li class="<%= controller.controller_name == 'priorities' ? "active" : "nil" -%>" ><%= link_to 'Priorities', priorities_path %></li>
			<li class="<%= controller.controller_name == 'user_types' ? "active" : "nil" -%>" ><%= link_to 'User Types', user_types_path %></li>
			<li class="<%= controller.controller_name == 'appconfigs' ? "active" : "nil" -%>" ><%= link_to 'Configs', appconfigs_path %></li>
		</ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> My Tasks.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>